	<!-- Banner Conference Two -->
    <section class="banner-conference-two" style="background-image: url(images/background/6.jpg)">
        <!-- Icons -->
		<div class="icons parallax-scene-1">
			<!-- Icon One -->
			<div data-depth="0.20" class="icon-one parallax-layer" style="background-image:url(images/icons/icon-1.png)"></div>
			<!-- Icon Two -->
			<div data-depth="0.50" class="icon-two parallax-layer" style="background-image:url(images/icons/icon-2.png)"></div>
			<!-- Icon Three -->
			<div data-depth="0.10" class="icon-three parallax-layer" style="background-image:url(images/icons/icon-3.png)"></div>
			<!-- Icon Four -->
			<div data-depth="0.30" class="icon-four parallax-layer" style="background-image:url(images/icons/icon-4.png)"></div>
			<!-- Icon Six -->
			<div data-depth="0.20" class="icon-six parallax-layer" style="background-image:url(images/icons/icon-6.png)"></div>
			<!-- Icon Seven -->
			<div data-depth="0.10" class="icon-seven parallax-layer" style="background-image:url(images/icons/icon-7.png)"></div>
			<!-- Icon Seven -->
			<div data-depth="0.10" class="icon-fourteen parallax-layer" style="background-image:url(images/icons/icon-7.png)"></div>
		</div>
		<div class="images-outer">
            <figure class="speaker-img"><img src="images/main-slider/banner_img.png" alt="" style="padding-top:70%"></figure>
        </div>

        <div class="auto-container">
            <div class="content-box">
                <span class="title">Du 1er au 14 juillet 2020 à Paris</span>
                <h2>Venez decouvrir <br>Conference 2020</h2>
                
            </div>
        </div>
    </section>
    <!--End Banner Conference Two -->