{% extends 'base.html.twig' %}
{% block title %} Conference {% endblock %}
{% block body %}
   <!--Page Title-->
    <section class="page-title" style="background-image:url(/images/background/5.jpg);">
        <div class="auto-container">
            <h1>Blog Grid</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index-2.html">Nos conferences</a></li>
            </ul>
        </div>
    </section>
    <!--End Page Title--> 


        <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">

                <!--Content Side / Blog Sidebar-->
                <div class="content-side col-lg-8 col-md-12 col-sm-12">
                    <div class="blog-single">
                         <!-- News Block Three -->
                        <div class="news-block">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><img src="/images/resource/blog-1.jpg" alt=""></figure>
                                </div>
                                <div class="lower-content">
                                    <ul class="post-info">
                                        <li><span class="far fa-user"></span> Admin</li>
                                        <li><span class="far fa-comments"></span> Comment 03</li>
                                    </ul>    
                                    <h2>Why Lead Generation Is Key For Business Growth.</h2>
                                    <p>Sed quia conse quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                                    <blockquote>
                                        <span class="icon fa fa-quote-left"></span>
                                        <p>It's crazy, but the things you love, prospective buyers might hate—and that means you might have a hard time unloading your home when it comes time to sell. Here's how to choose wisely</p>
                                        <cite> David Leo</cite>
                                    </blockquote>
                                    <p>or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                </div>
                            </div>
                        </div>

                         <!-- Other Options -->
                        <div class="post-share-options clearfix">
                            
                        </div>
                    
                        <!-- Comments Area -->
                        <div class="comments-area">
                            <div class="group-title">
                                <h3>Comments 02</h3>
                            </div>
                            <div class="comment-box">
                                <div class="comment">
                                    <div class="author-thumb"><img src="images/resource/thumb-1.jpg" alt=""></div> 
                                    <div class="comment-info">
                                        <div class="name">Kavin smith</div> -
                                        <div class="date">CEO CHI ART PRO</div>
                                    </div>      
                                    <div class="text">Vestibulum imperdiet nibh vel magna lacinia ultrices. Sed id interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna, condimentum a vehiculaa,Duis lacus </div>
                                    <a href="#" class="reply-btn theme-btn btn-style-one"><span class="btn-title">Reply</span></a>
                                </div>
                            </div>

                            <div class="comment-box">
                                <div class="comment">
                                    <div class="author-thumb"><img src="images/resource/thumb-2.jpg" alt=""></div> 
                                    <div class="comment-info">
                                        <div class="name">Lean Guimares</div> -
                                        <div class="date">CEO CHI ART PRO</div>
                                    </div>      
                                    <div class="text">Codswallop down the pub Queen's English tomfoolery the BBC owt to do with me do one Elizabeth I don't want no agro show off show?</div>
                                    <a href="#" class="reply-btn theme-btn btn-style-one"><span class="btn-title">Reply</span></a>
                                </div>
                            </div>
                        </div>

                        <!--Comment Form-->
                        <div class="comment-form">
                            <div class="group-title">
                                <h3>Leave a comment</h3>
                            </div>
                            <form method="post" action="https://expert-themes.com/html/eventrox/blog.html"> 
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <input type="text" name="username" placeholder="Name" required="">
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                                        <input type="email" name="email" placeholder="Email" required="">
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <textarea name="message" placeholder="Your Comments"></textarea>
                                    </div>
                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <button class="theme-btn btn-style-one" type="submit" name="submit-form"><span class="btn-title">Post Comment</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                    <aside class="sidebar padding-left">
                        <!-- Category Widget -->
                        <div class="sidebar-widget categories">
                            <h4 class="sidebar-title">Les speakers</h4>
                            <div class="widget-content">
                                <!-- Blog Category -->
                                <ul class="blog-categories">
                                    <li><a href="blog-single.html">Josephat Aimé</a></li>
                                    <li><a href="blog-single.html">SAm Sam</a></li>
                                    <li><a href="blog-single.html">Christ rovi</a></li>
                                    <li><a href="blog-single.html">Srinath</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Tags Widget -->
                        <div class="sidebar-widget popular-tags">
                            <h4 class="sidebar-title">Tags</h4>
                            <div class="widget-content">
                                <a href="#">@Speakers</a>
                                <a href="#">@Boutique</a>
                                <a href="{{path("conference")}}">@Conference</a>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sidebar Page Container -->


{% endblock %}